# CDNow User Analysis

# 1 Project Background

CDnow, Inc. was a dot-com company that operated an online shopping website selling compact discs and music-related products. In April 1998, during the dot-com bubble, the company was valued at over $1 billion.
This project analyzes the user consumption behavior from the consumption data.

## Data Description

The data came from the transactions from 01/01/1997 to 30/06/1998 of CDNow

# Data Preparation

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [34]:
date = pd.read_table('CDNOW.txt',header=None,sep='\s+',names=['ID','DATE','COUNT','PRICE'])
date

          ID      DATE  COUNT   PRICE
0          1  19970101      1   11.77
1          2  19970112      1   12.00
2          2  19970112      5   77.00
3          3  19970102      2   20.76
4          3  19970330      2   20.76
5          3  19970402      2   19.54
6          3  19971115      5   57.45
7          3  19971125      4   20.96
8          3  19980528      1   16.99
9          4  19970101      2   29.33
10         4  19970118      2   29.73
11         4  19970802      1   14.96
12         4  19971212      2   26.48
13         5  19970101      2   29.33
14         5  19970114      1   13.97
15         5  19970204      3   38.90
16         5  19970411      3   45.55
17         5  19970531      3   38.71
18         5  19970616      2   26.14
19         5  19970722      2   28.14
20         5  19970915      3   40.47
21         5  19971208      4   46.46
22         5  19971212      3   40.47
23         5  19980103      3   37.47
24         6  19970101      1   20.99
25         7  19970101      2   28.74
26         7  19971011      7   97.43
27         7  19980322      9  138.50
28         8  19970101      1    9.77
29         8  19970213      1   13.97
...      ...       ...    ...     ...
69629  23556  19970927      3   31.47
69630  23556  19980103      2   28.98
69631  23556  19980607      2   28.98
69632  23557  19970325      1   14.37
69633  23558  19970325      2   28.13
69634  23558  19970518      3   45.51
69635  23558  19970624      2   23.74
69636  23558  19980225      4   48.22
69637  23559  19970325      2   23.54
69638  23559  19970518      3   35.31
69639  23559  19970627      3   52.80
69640  23560  19970325      1   18.36
69641  23561  19970325      2   30.92
69642  23561  19980128      1   15.49
69643  23561  19980529      3   37.05
69644  23562  19970325      2   29.33
69645  23563  19970325      1   10.77
69646  23563  19971004      2   47.98
69647  23564  19970325      1   11.77
69648  23564  19970521      1   11.77
69649  23564  19971130      3   46.47
69650  23565  19970325      1   11.77
69651  23566  19970325      2   36.00
69652  23567  19970325      1   20.97
69653  23568  19970325      1   22.97
69654  23568  19970405      4   83.74
69655  23568  19970422      1   14.99
69656  23569  19970325      2   25.74
69657  23570  19970325      3   51.12
69658  23570  19970326      2   42.96

[69659 rows x 4 columns]