# 6 Data loading, storage, and file formats

In [ ]:
import pandas as pd
import numpy as np

## 6.1 Reading and writing data in text format

### 6.1.1 Overview

In [8]:
!type ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [12]:
# read csv file
df = pd.read_csv('ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [14]:
# specify names for no header file
!type ex2.csv
pd.read_csv('ex2.csv',names=['a','b','c','d','message'])

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [16]:
# index with a column
names = ['a','b','c','d','message']
pd.read_csv('ex2.csv',names=names,index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [19]:
# index with multiple column
!type csv_mindex.csv
parsed = pd.read_csv('csv_mindex.csv',index_col=['key1','key2'])
parsed

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

## Remain Question

In [21]:
# regular expression
!type ex3.txt
result = pd.read_table('ex3.txt',sep='\s+')
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

### 6.1.2 Reading text file in pieces

In [29]:
# compact the display
pd.options.display.max_rows =10
result = pd.read_csv('ex6.csv')
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [27]:
# value count of the key column
chunker = pd.read_csv('ex6.csv',chunksize = 1000)

tot = pd.Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(),fill_value = 0)
tot = tot.sort_values(ascending=False)
tot

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
     ...
5    157.0
2    152.0
0    151.0
9    150.0
1    146.0
Length: 36, dtype: float64

### 6.1.3 Writing data to text format

In [32]:
data = pd.read_csv('ex5.csv')
data
data.to_csv('out.csv')
!type out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

### 6.1.4 Working with delimited formats

In [33]:
!type ex7.csv

"a","b","c"
"1","2","3"
"1","2","3"

## Remain Question

In [41]:
import csv
f = open('ex7.csv')
reader = csv.reader(f)
for line in reader:
    print(line)

with open('ex7.csv') as f:
    lines = list(csv.reader(f))
    
header,values = lines[0],lines[1:]
data_dict = {h:v for h, v in zip(header,zip(*values))}
data_dict

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

### 6.1.5 JSON Data

In [43]:
#a JSON object
obj = """
{"name":"Wes",
"places_lived":["United Stated","Spain","Germany"],
"pet":null,
"siblings":[{"name":"Scott","age":30,"pets":["Zeus","Zuko"]},
{"name":"Katie","age":38,
"pets":["Sixes","Stache","Cisco"]}]
}
"""

In [44]:
#convert a JSON string to Python form
import json
result = json.loads(obj)
result

{'name': 'Wes',
 'places_lived': ['United Stated', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [45]:
#convert a Python object to JSON
asjson = json.dumps(result)
asjson

'{"name": "Wes", "places_lived": ["United Stated", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]}, {"name": "Katie", "age": 38, "pets": ["Sixes", "Stache", "Cisco"]}]}'

In [48]:
#construct a dataframe from the list of dicts
siblings = pd.DataFrame(result['siblings'],columns=['name','age'])
siblings

    name  age
0  Scott   30
1  Katie   38

In [53]:
#convert JSON datasets to Series or DataFrame
!type example.json

data = pd.read_json('example.json')
data

[{"a": 1, "b": 2, "c": 3},
 {"a": 4, "b": 5, "c": 6},
 {"a": 7, "b": 8, "c": 9}]

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [54]:
#convert Series or DataFrame to JSON dataset
print(data.to_json())

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}